CSharp/Operator_Aritmatika/Operator_Aritmatika/Web References/layananData/skema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://fahmi.anwar/soap2" elementFormDefault="qualified" targetNamespace="http://fahmi.anwar/soap2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="data_nik">
    <xsd:all>
      <xsd:element name="nik" type="xsd:int" />
      <xsd:element name="provinsi" type="xsd:string" />
      <xsd:element name="kota_kabupaten" type="xsd:string" />
      <xsd:element name="kecamatan" type="xsd:string" />
      <xsd:element name="jenis_kelamin" type="xsd:string" />
      <xsd:element name="tanggal_lahir" type="xsd:int" />
      <xsd:element name="bulan_lahir" type="xsd:int" />
      <xsd:element name="tahun_lahir" type="xsd:int" />
      <xsd:element name="nomor_urut" type="xsd:string" />
      <xsd:element name="pesan" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="data_nik">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="data_nik" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>